<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1 class="text-center mt-5">🍻Boston Beer Hall🍻</h1>
  <h2 class="text-center mt-5">Profiles:</h2>
  <div class="card-container">
    <% profiles.forEach(profile => { %>
      <a class="text-decoration-none" href="/profiles/<%= profile._id %>">
        <div class="card">
          <img 
            src="<%= profile.avatar %>" 
            alt="<%= profile.name %>'s avatar"
          >
          <div class="card-body">
            <h1 class="card-title"><%= profile.name %></h1>
          </div>
        </div>
      </a>
    <% }) %>
  </div>
</main>

<%- include('../partials/footer') %>