<%- include('../partials/html-head') %>
<link rel="stylesheet" href="./stylesheets/profiles/index.css">
<%- include('../partials/nav') %>

<main>
  <section>
    <h1>Beers!</h1>
    <% if (user) { %>
      <h2>Add a Beer!</h2>
      <form action="/beers" method="POST">
        <label>
          Name: 
          <input type="text" name="name" autocomplete="off">
        </label>
        <label>
          Great?
          <input type="checkbox" name="great">
        </label>
        <button type="submit">Add Beer</button>
      </form>
    <% } %>
  <h2>See the Beers Below!</h2>
	<ul>
  <% beers.forEach(beer => { %>
    <li><a href="/beers/<%= beer._id %>"><%= beer.name %></a> 
        is <%= beer.great ? 'great' : 'bad' %> 
    </li>
  <% }) %>
  </ul>
</section>
</main>

<%- include('../partials/footer') %>