<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
	<p>From the liver of <%= beer.owner.name %>...</p>
  <h1><%= beer.name %></h1>
  <h2>This beer is <%= beer.great ? 'great' : 'bad' %></h2>
  <% if (user) { %>
    <form
      action="/beers/<%= beer._id %>/flip-great?_method=PATCH"
      method="POST"
      >
      <button class="btn" type="submit">
        This beer is <%= beer.great ? 'bad' : 'great' %> 
      </button>
    </form>
  <% } %>
  <% if (beer.owner.equals(user?.profile._id)) { %>
    <a href="/beers/<%= beer._id %>/edit">
    <button class="btn btn-warning btn-lg">Edit this beer!</button>
    </a>
    <form action="/beers/<%= beer._id %>?_method=DELETE" method="POST">
      <button class="btn btn-danger btn-lg" type="submit">Delete this Beer...</button>
    </form>
  <% } %>     
</section>

<%- include('../partials/footer') %>